.costa-section{
    height: 100vh;
    background-image: url(../images/costa-rika.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.himalaya-section{
    height: 100vh;
    background-image: url(../images/himalaya.png);
    background-size: cover;
    background-repeat: no-repeat;
}