.about{
    margin-top: 158px;
}

.about__title {
    margin-bottom: 15px;
    font-weight: 400;
    font-size: 40px;
    line-height: 42px;
    text-align: center;
    color: var(--text-color);
}

.about__text {
    font-weight: 400;
    font-size: 23px;
    line-height: 30px;
    text-align: center;
    color: var(--hover-color);
}

.card__items {
    width: 576px;
    height: 600px;
    background-image: url(../images/about-bg1.png);
    background-repeat: no-repeat;
    // flex: 1 1 auto;
    padding: 400px 30px 200px;
}
.card__items2 {
    width: 576px;
    height: 600px;
    background-image: url(../images/about-bg2.png);
    background-repeat: no-repeat;
    // flex: 1 1 auto;
    padding: 400px 30px 200px;
}
.card__items3 {
    width: 576px;
    height: 600px;
    background-image: url(../images/about-bg3.png);
    background-repeat: no-repeat;
    // flex: 1 1 auto;
    padding: 400px 30px 24px;
}
.card__items4 {
    width: 576px;
    height: 600px;
    background-image: url(../images/about-bg4.png);
    background-repeat: no-repeat;
    // flex: 1 1 auto;
    padding: 400px 30px 24px;
}

.item1{
    width: 500px;
}
.item2{
    width: 500px;
}
.item3{
    width: 500px;
}
.item4{
    width: 500px;
}




.about-cards{
    margin-top: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
}

.card__title {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: var(--text-color);
}

.card__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: var(--hover-color);
}

.card-btn {
    padding: 9px 10px 9px 12px;
    background: var(--text-color);
    border-radius: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    img{
        margin-right: 10px;
    }
}